@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: "AvantGarde";
  src: url("/fonts/avant-garde.ttf") format("truetype");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.char {
  filter: blur(10px);
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: "AvantGarde", sans-serif;
}
